a {
    text-decoration: none;
}
nav {
    font-family: monospace;
}
ul {
    background: aliceblue;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: black;
    background: darkslateblue;
    display: block;
    float: left;
    padding: 0rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: black;
}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0rem;
    left: 0;
    display: none;
}
ul li:hover > ul,
ul li:focus-within > ul, /* this is the line we add */
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}
